@font-face {
    font-family: HelloSunshineOrnaments;
    src: url("../fonts/HelloSunshine_ornaments.otf") format("opentype");
}
@font-face {
    font-family: HelloSunshine;
    src: url("../fonts/HelloSunshine.otf") format("opentype");
}
@font-face {
    font-family: HelloSunshine;
    font-style: italic;
    src: url("../fonts/HelloSunshineItalic.otf") format("opentype");
}
@font-face {
    font-family: HelloSunshineMarker;
    src: url("../fonts/HelloSunshineMarker.otf") format("opentype");
}
header {
    background-image: url(http://www.kathryndipippo.com/SooshARPG/img/tilebg2_small.png);
    color: rgba(0,0,0,0.87);
    font-size: 20px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 0 2em;
    margin: 0 auto;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.headerblankspace {
    height: 50px;
}
header i {
    vertical-align: middle;
    padding-right: 1em;
}
.headerIcon {
    padding: 0 10px;
    height: 100%;
    vertical-align: middle;
}
.headerLink, .headerLink:hover {
    font-family: 'HelloSunshine';
    font-size: 40px;
    height: 50px;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}
.headerMarker {
    font-family: 'HelloSunshineMarker';
    font-size: 25px;
}
.headerOverlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 1001;
}
.sidebar {
    background-color: #FFFFFF;
    width: 30%;
    height: 100%;
    position: fixed;
    left: -30%;
    z-index: 1002;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
}
.sidebarTitle {
    font-family: 'HelloSunshineMarker';
    font-size: 30px;
    padding: 16px;
    padding-top: 30px;
    margin-bottom: 0;
}
.sidebarNav {
    padding: 0;
    margin: 0;
}
.sidebarNav>li {
    list-style: none;
    text-align: left;
}
.sidebarNav>li>a {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    display: block;
    padding: 16px;
}
.sidebarNav>li.active, .sidebarNav>li.active:hover {
    background-color: #E0E0E0;
}
.sidebarNav>li:hover {
    background-color: #E8E8E8;
}
.sidebarNav>li.active>a, .sidebarNav>li:hover>a {
    color: #757575;
}
#sidebarTrigger {
    cursor: pointer;
    padding: 10px;
}
